# .env (DO NOT SHARE!)
.env
*.env
.env.*

# Results
results/
results.zip

# VS Code settings (not need yet)
.vscode/

# Reports
batch_report.html
batch_report_v2.html
reports/

# ignore any file whose name begins with "batch_report"
batch_report*

# MacOS system files (for ur benifit)
.DS_Store
